/* Sidebar */
#homepage #content #document-sidebar,
#main #content #document-sidebar {
  background-color: var(--background-secondary-color);
}

/* Sidebar secondary*/
#DocumentationList .documentListNoDocuments,
#documentList .documentListNoDocuments {
  background-color: var(--background-secondary-color);
}

/* Sidebar Item selected */
#DocumentationList .document-list-item--opened,
#documentList .document-list-item--opened {
  background-color: var(--background-selected-color);
}

/* Sidebar Item hovered */
#DocumentationList .document-list-item:hover,
#documentList .document-list-item:hover {
  background-color: var(--background-selected-color);
}
